 # {{ title }} documentation{% if version %}, version {{ version }}{% endif %} $ENDLINE
{% if baseUri%}{{ baseUri }} $ENDLINE {% endif %}
$ENDLINE
$DOCUMENTATION
---$ENDLINE

{% for resource in resources %}

{{ resource.description }} $ENDLINE

{% include "./resource.nunjucks" %}

{% endfor %}

### End Raml
